<div class="container">
  <br>
  <h3 class=" text-center">Caravan Chat</h3>
  <div class="messaging">
        <div class="inbox_msg">
          <div class="inbox_people">
            <div class="headind_srch">
              <div class="recent_heading">
                <!-- Button trigger modal -->
                 <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModalCenter">
                  Compose New Message
                 </button>
                 <br>
                 <br>
                 <h4>Recent</h4>
                </div>
              </div>

            <div class="inbox_chat">


              <div *ngFor="let friend of friends" [ngClass]="friend === selected ? 'chat_list active_chat' : 'chat_list'" (click)="selected = friend">
                <div class="chat_people">
                  <div class="chat_img">  <img [src]="friend.profilePic.url" alt=""></div>
                  <div class="chat_ib">
                    <h5>{{friend.firstName}} {{friend.lastName}}</h5>
                    <p *ngFor="let message of messages  | latestMessage: friend: me">&emsp;{{message.content}}<br>
                      <span class="chat_date">{{message.datePosted|date:'short'}}</span></p>

                  </div>
                </div>
              </div>

            </div>
          </div><!--end inbox_people-->


          <div  class="mesgs">
            <div class="msg_history" >

              <div *ngIf="selected">
              <div #scrollBottom class="incoming_msg" *ngFor="let message of messages  | friendMessages: selected: me">
                <div *ngIf="message.friendProfile.user.id === me.id">
                <div class="incoming_msg_img"> <img [src]="message.myProfile.profilePic.url"> </div>
                <div class="received_msg">
                  <div class="received_withd_msg">
                    <p>{{message.content}}</p>
                    <span class="time_date">{{message.datePosted|date:'short'}}</span></div>
                </div>
              </div>

              <div *ngIf="message.myProfile.user.id === me.id">
                  <div #scrollBottom class="outgoing_msg">
                    <div class="sent_msg">
                    <p>{{message.content}}</p>
                    <span class="time_date">{{message.datePosted|date:'short'}}</span></div>
                </div>
              </div>
            </div>
            </div>

            </div><!--end msg_history-->

            <div class="type_msg">
              <div class="input_msg_write">
                <form>
                <input type="text" name="content" class="write_msg" placeholder="Type a message" [(ngModel)]="myReply.content" required="required"/>
                <button (click)="reply()" class="msg_send_btn" type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
              </form>
              </div>
            </div>

          </div><!--end mesgs-->
        </div>

<!-- Modal -->
<div class="modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Compose A New Message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #composeForm="ngForm">
          <div class="form-group">
            <input name="friendUsername" placeholder="Enter Recipient's Username" class="form-control form-control-lg"
              type="text" ngModel required="required">
            <textarea name="content" placeholder="Enter Message" class="form-control inbox" type="textarea"
              [(ngModel)]="myReply.content" required="required"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="compose(composeForm)" type="submit" name="compose"
        class="btn btn-primary btn-block">Send</button>
      </div>
    </div>
  </div>
</div>
