<div class="container">

  <hr>
  <div class="row">
    <div class="col-sm-12 col-md-10">
      <!-- Nav tabs -->
      <ul id="navBox" class="nav nav-tabs">
        <li id="navItem"><a href="#" class="btn btn-info btn-sm btn-block" role="button"><i class="glyphicon glyphicon-edit"></i>
          Compose&emsp;</a></li>

        <li id="navItem"><a href="#home" data-toggle="tab"><i class="material-icons">
          all_inbox
          </i><span class="badge pull-right">32</span>
            Primary&emsp;</a></li>

        <li id="navItem"><a href="#messages" data-toggle="tab"><i class="material-icons">
          loyalty
          </i><span class="badge pull-right">17</span>
            Promotions&emsp;</a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane fade in active" id="home">
          <div class="list-group">
            <a href="#" class="list-group-item">
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                </label>
              </div>
              <span class="glyphicon glyphicon-star-empty"></span><span class="name" style="min-width: 120px;
                              display: inline-block;">Mark Otto</span> <span class="">Nice work on the lastest
                version</span>
              <span class="text-muted" style="font-size: 11px;">- More content here</span> <span class="badge">12:10
                AM</span> <span class="pull-right"><span class="glyphicon glyphicon-paperclip">
                </span></span>
            </a><a href="#" class="list-group-item">
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                </label>
              </div>
              <span class="glyphicon glyphicon-star-empty"></span><span class="name" style="min-width: 120px;
                                      display: inline-block;">Jason Markus</span> <span class="">This is big
                title</span>
              <span class="text-muted" style="font-size: 11px;">- I saw that you had..</span> <span class="badge">12:09
                AM</span> <span class="pull-right"><span class="glyphicon glyphicon-paperclip">
                </span></span>
            </a><a href="#" class="list-group-item read">
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                </label>
              </div>
              <span class="glyphicon glyphicon-star"></span><span class="name" style="min-width: 120px;
                                              display: inline-block;">Jane Patel</span> <span class="">This is big
                title</span>
              <span class="text-muted" style="font-size: 11px;">- Hi hello how r u ?</span> <span class="badge">11:30
                PM</span> <span class="pull-right"><span class="glyphicon glyphicon-paperclip">
                </span></span>
            </a>
          </div>
        </div>
        <div class="tab-pane fade in" id="profile">
          <div class="list-group">
            <div class="list-group-item">
              <span class="text-center">This tab is empty.</span>
            </div>
          </div>
        </div>
        <div class="tab-pane fade in" id="messages">
          ...</div>
        <div class="tab-pane fade in" id="settings">
          This tab is empty.</div>
      </div>
    </div>
  </div>
</div>
