<div class="container">
  <br>
  <h3 class=" text-center">Caravan Chat</h3>
  <div class="messaging">
        <div class="inbox_msg">
          <div class="inbox_people">
            <div class="headind_srch">
              <div class="recent_heading">
                <h4>Recent</h4>
              </div>

              <div class="compose_bar">
                <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-info dropdown-toggle"
                role="button"><i class="glyphicon glyphicon-edit"></i>
                Compose&emsp;
              </button>
              <ul class="dropdown-menu dropdown-menu-right mt-2">
                <li class="px-3 py-2">
                  <form #composeForm="ngForm">
                    <div class="form-group">
                      <input name="friendUsername" placeholder="Enter Recipient's Username" class="form-control form-control-sm"
                        type="text" ngModel required="required">
                      <input name="content" placeholder="Enter Message" class="form-control form-control-sm" type="text"
                        [(ngModel)]="myReply.content" required="required">
                      <button (click)="compose(composeForm)" type="submit" name="compose"
                        class="btn btn-info btn-block">Send</button>
                    </div>
                  </form>
                </li>
              </ul>
              <br>
              <br>
              </div>
            </div>
            <div class="inbox_chat">


              <div *ngFor="let friend of friends" [ngClass]="friend === selected ? 'chat_list active_chat' : 'chat_list'" (click)="selected = friend">
                <div class="chat_people">
                  <div class="chat_img">  <img [src]="friend.profilePic.url" alt=""></div>
                  <div class="chat_ib">
                    <h5>{{friend.firstName}} {{friend.lastName}}</h5>
                    <p *ngFor="let message of messages  | latestMessage: friend: me">&emsp;{{message.content}}<br>
                      <span class="chat_date">{{message.datePosted|date:'short'}}</span></p>

                  </div>
                </div>
              </div>

            </div>
          </div><!--end inbox_people-->


          <div  class="mesgs">
            <div class="msg_history" >

              <div *ngIf="selected">
              <div #scrollBottom class="incoming_msg" *ngFor="let message of messages  | friendMessages: selected: me">
                <div *ngIf="message.friendProfile.user.id === me.id">
                <div class="incoming_msg_img"> <img [src]="message.myProfile.profilePic.url"> </div>
                <div class="received_msg">
                  <div class="received_withd_msg">
                    <p>{{message.content}}</p>
                    <span class="time_date">{{message.datePosted|date:'short'}}</span></div>
                </div>
              </div>

              <div *ngIf="message.myProfile.user.id === me.id">
                  <div #scrollBottom class="outgoing_msg">
                    <div class="sent_msg">
                    <p>{{message.content}}</p>
                    <span class="time_date">{{message.datePosted|date:'short'}}</span></div>
                </div>
              </div>
            </div>
            </div>

            </div><!--end msg_history-->

            <div class="type_msg">
              <div class="input_msg_write">
                <form>
                <input type="text" name="content" class="write_msg" placeholder="Type a message" [(ngModel)]="myReply.content" required="required"/>
                <button (click)="reply()" class="msg_send_btn" type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
              </form>
              </div>
            </div>

          </div><!--end mesgs-->
        </div>

