<div class="map">
  <iframe src="http://maps.google.com/maps?q=${address}&z=15&output=embed" height="657" style="border:0;"
    allowfullscreen=""></iframe>
</div>

<!-- About Secton Begin -->
<section class="about-section">
  <div class="intro-item">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="about-intro">
            <div class="rating">Rating</div>
            <div class="intro-text">
               <h2>{{adventure.title}}</h2>
              <p>Location: {{adventure.address.city}}, {{adventure.address.state}}</p>
              <p>Description: {{adventure.description}}</p>
              <div (click)="addAdventure(adventure.id)" class="closed">Confirm Join</div>
              <div class="open">Save</div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 offset-lg-1">
          <div class="intro-share">
            <div class="share-btn">
              <a href="#" class="share">Share</a>
              <a href="#">Submit a Review</a>
            </div>
            <div class="share-icon">
              <a href="#"><i class="fa fa-map-marker"></i></a>
              <a href="#"><i class="fa fa-book"></i></a>
              <a href="#"><i class="fa fa-hand-o-right"></i></a>
              <a href="#"><i class="fa fa-user-o"></i></a>
              <a href="#"><i class="fa fa-star-o"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-item">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="about-left">
            <div class="about-desc">
              <h3>About the Adventure</h3>
              <p>Activity Level: {{adventure.activityLvl}}</p>
              <p>Includes: {{adventure.includes}}</p>
              <p>Price: ${{adventure.price}}</p>
              <p>{{adventure.itinerary}}</p>

              <h3>About the Host</h3>
              <p>Pic: {{adventure.host.profilePic.url}}</p>
              <p>Name: {{adventure.host.firstName}}, {{adventure.host.lastName}}</p>
              <p>Phone: {{adventure.host.phone}}</p>
              <p>Email: ${{adventure.host.email}}</p>
              <p>Bio: ${{adventure.host.bio}}</p>
            </div>
            <!-- <div class="about-video">
              <img src="" alt="">
              <a href="https://www.youtube.com/watch?v=_hoGpYyn4Bs" class="pop-up"><i class="fa fa-play"></i></a>
            </div> -->
            <!-- *ngif {thisTripAdventureTravelers[0].review} !== null -->



            <div class="client-reviews" >
              <h3>Host Reviews</h3>
              <ng-container *ngFor="let advenTraveler of thisTripAdventureTravelers">
              <div *ngIf="advenTraveler.review" class="reviews-item">
                <p>Rating: {{advenTraveler.rating}}</p>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <!-- <ngb-rating max=5 [(rate)]="currentRate"></ngb-rating> -->
                <h5>“A Great Place”</h5>
                <p>{{thisTripAdventureTravelers[0].review}}</p>
                <div class="client-text">
                  <h5>{{thisTripAdventureTravelers[0].user.firstName}}, {{thisTripAdventureTravelers[0].user.lastName}}</h5>
                  <span>DATE????? IDK</span>
                </div>
              </div>
            </ng-container>


            </div>


          </div>
        </div>
        <div class="col-lg-4">
          <div class="about-right">
            <div class="contact-info">
              <!-- <div class="map">
                <iframe src="http://maps.google.com/maps?q=${address}&z=15&output=embed" height="385" style="border:0;"
                  allowfullscreen=""></iframe>
                <img src="" alt="">
              </div> -->
              <!-- <div class="contact-text">
                <h4>Contact Info</h4>
                <span>{{adventure.host.firstName}} {{adventure.host.lastName}}</span>
                <ul>
                  <li>Phone: {{adventure.host.phone}}</li>
                  <li>Email: {{adventure.host.email}}</li>
                </ul>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  About Secton End -->
