<div class="container-fluid" *ngIf="admin">
  <div *ngIf="!selectedReview">
    <table class="table table-striped table-hover">
      <thead class="thead thead-dark">
        <tr>
          <th>
           Trip Host Reviews of Passengers
          </th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let review of reviews" (click)="selectedReview = review">
          <td>
            {{ review.id }}
          </td>
          <td>{{review.trip.id}}</td>
          <td>{{review.trip.host}} review of {{ review.passenger.firstName }} {{review.passenger.lastName}}
          </td>
          <td>{{review.rating}}</td>
          <td>{{review.review}}</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-success" (click)="new = true">Create New Review</button>
  </div>
</div>

  <div>
    <table class="table table-striped table-hover">
      <thead class="thead thead-dark">
        <tr>
          <th>
           My Hosted Trips
          </th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr></tr>
        <tr  *ngFor="let pass of reviews">
          <div *ngIf="pass.trip.host.id == currentUser.id">
            {{ pass.id }}
          <td>{{pass.trip.id}}</td>
          <td>{{pass.trip.host.firstName}} {{pass.trip.host.lastName}} review of {{ pass.passenger.firstName }} {{pass.passenger.lastName}}
          </td>
          <td>{{pass.rating}}</td>
          <td>{{pass.review}}</td>
        </div>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-success" (click)="new = true">Create New Review</button>
  </div>


<div *ngIf="selectedReview">
  {{selectedReview.id}}
  {{selectedReview.review}}
  <button class="btn btn-primary" (click)="selectedReview = null">Back</button>
  <button class="btn btn-warning" (click)="editAdventure = selectedReview">Edit</button>
  <button class="btn btn-success" (click)="new = true">Create New Adventure</button>
</div>

<div *ngIf="new">
  <form #createForm="ngForm">
    <input type="number" name="rating" class="form-control" placeholder="Rating" ngModel/>
    <input type="text" name="review" class="form-control" placeholder="Review" ngModel/>
    <button class="btn btn-primary" type="submit" value="New Review" (click)="createReview(createForm)">Submit</button>
    <button class="btn btn-primary" type="submit" value="Cancel" (click)="new = false">Cancel</button>
  </form>
</div>

<div *ngIf="editReview">
  <form #createForm="ngForm">
    <input type="number" name="rating" class="form-control" placeholder="Rating" [(ngModel)]="editReview.rating"/>
    <input type="text" name="review" class="form-control" placeholder="Review" [(ngModel)]="editReview.review"/>
    <button class="btn btn-primary" type="submit" value="Edit Review" (click)="updateReview()">Submit</button>
    <button class="btn btn-primary" type="submit" value="Cancel" (click)="editAdventure = false">Cancel</button>
    <button class="btn btn-danger" (click)="deleteReview()">Delete</button>
  </form>
</div>


