
    <!-- Google Map Route -->

    <div class="map-responsive">
    <iframe [src]="getRouteUrl() | map"></iframe>
    </div>


    <!-- About Secton Begin -->
    <section class="about-section">
        <div class="intro-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="about-intro">
                            <!-- <div class="rating"></div> -->
                            <div class="intro-text">
                                <h2>{{trip.title}}</h2>

                                <p><strong>Departure Location:</strong> {{trip.departureAddress.street}} {{trip.departureAddress.city}}, {{trip.departureAddress.state}} </p>
                                <p><strong>Destination Location:</strong> {{trip.destinationAddress.street}} {{trip.destinationAddress.city}}, {{trip.destinationAddress.state}} </p>
                                <p><strong>Start Date:</strong> {{trip.tripCalendar.startDate}}</p>
                                <p><strong>End Date:</strong> {{trip.tripCalendar.endDate}}</p>
                                <p><strong>Description:</strong> {{trip.description}}</p>
                                <p><strong>Total Cost:</strong> ${{trip.totalCost}}</p>
                                <p><strong>Vehicle:</strong> {{trip.vehicle.manufactureYear}} {{trip.vehicle.make}} {{trip.vehicle.model}}</p>
                                <div *ngIf="joined" class="btn btn-primary btn-lg">{{joined.travelerStatus}}</div>
                                <div *ngIf="!joined" (click)="addTrip(trip.id); alert()" class="btn btn-primary btn-lg">Join<br></div>
                                <div class="compose_bar">
                                  <br>
                                  <!-- Button trigger modal -->
                 <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModalCenter">
                  Message Host
                 </button>

                                <br>
                                <br>
                                </div>
                                <!-- <div *ngIf="joined.travelerStatus === null" class="closed">Your Trip</div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 offset-lg-1">
                        <div class="intro-share">
                            <div class="share-btn">
                              <p> <img src="{{trip.featureImage}}" class="featureImage"></p>
                              <p> <img src="{{trip.vehicle.imageURL}}" class="featureImage"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="about-left">
                            <!-- <div class="about-desc">
                                <h3>About the Host</h3><br>
                            <div class="about-desc">
                              <h3>About the Trip Host</h3><br>
                                  <h5>Name: {{trip.host.firstName}} {{trip.host.lastName}}</h5>
                                  <h5>Email: {{trip.host.email}}</h5>
                                  <h5>Bio: {{trip.host.bio}}</h5>
                              </div> -->


                            <div class="client-reviews">

                              <h3>People Traveling on this Trip</h3>
                                <ng-container *ngFor="let advenTravelerr of thisApprovedTripTravelers">
                                <div *ngIf="advenTravelerr.travelerStatus === 'Approved'" class="reviews-item">
                                  <ul>
                                    <li>  <img src="{{advenTravelerr.user.profilePic.url}}" class="photo"> {{advenTravelerr.user.firstName}} {{advenTravelerr.user.lastName}} ({{advenTravelerr.travelerStatus}}) <button *ngIf="currentProfile.id === advenTravelerr.user.id && !advenTravelerr.review" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModalCenter">Leave a Review</button></li>
                                  </ul>
                                  <!-- <h5>{{advenTravelerr.user.firstName}} {{advenTravelerr.user.lastName}}</h5> -->
                                </div>
                                <div class="modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalCenterTitle">Leave a Review</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>

                                      <div class="modal-body">
                                        <form #composeForm="ngForm">
                                          <div class="form-group">
                                            <select name="rating" class="form-control" [(ngModel)]="advenTravelerr.rating">
                                              <!-- <option value="" disabled selected>Select Rating</option> -->
                                              <option selected value=1><span id="star1">&#9733;</span><span id="star2">&#9734;</span><span id="star2">&#9734;</span><span id="star2">&#9734;</span><span id="star2">&#9734;</span></option>
                                              <option value=2><span id="star1">&#9733;</span><span id="star1">&#9733;</span><span id="star2">&#9734;</span><span id="star2">&#9734;</span><span id="star2">&#9734;</span></option>
                                              <option value=3><span id="star1">&#9733;</span><span id="star1">&#9733;</span><span id="star1">&#9733;</span><span id="star2">&#9734;</span><span id="star2">&#9734;</span></option>
                                              <option value=4><span id="star1">&#9733;</span><span id="star1">&#9733;</span><span id="star1">&#9733;</span><span id="star1">&#9733;</span><span id="star2">&#9734;</span></option>
                                              <option value=5><span id="star1">&#9733;</span><span id="star1">&#9733;</span><span id="star1">&#9733;</span><span id="star1">&#9733;</span><span id="star1">&#9733;</span></option>
                                            </select>
                                            <textarea name="content" placeholder="Enter Review" class="form-control inbox" type="textarea"
                                              [(ngModel)]="advenTravelerr.review" required="required"></textarea>
                                          </div>
                                        </form>
                                      </div>
                                      <div class="modal-footer">
                                        <button (click)="composeReview(advenTravelerr)" type="submit" name="compose"
                                        class="btn btn-primary btn-block">Submit</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                              </ng-container>

                              <div *ngIf="thisApprovedTripTravelers.length === 0" class="reviews-item">
                                <ul>
                                  <h4><em>Be the first to sign up for this trip!</em></h4>
                                </ul>
                                <!-- <h5>{{advenTravelerr.user.firstName}} {{advenTravelerr.user.lastName}}</h5> -->
                              </div>

                                <h3>About the Host</h3>

                                <mat-card class="example-card">
                                  <mat-card-header>
                                    <div mat-card-avatar class="example-header-image">
                                      <img src="{{trip.host.profilePic.url}}" class="photo2">
                                    </div>

                                    <mat-card-title>{{trip.host.firstName}} {{trip.host.lastName}}</mat-card-title>
                                  </mat-card-header>
                                  <mat-card-content>

                                      <p>Name: {{trip.host.firstName}} {{trip.host.lastName}}</p>
                                     <p>Phone: {{trip.host.phone}}</p>
                                     <p>Email: {{trip.host.email}}</p>
                                      <p>Bio: {{trip.host.bio}}</p>

                                  </mat-card-content>




                            </mat-card>

                            <br><br>
                                <div class="client-reviews">

                                  <h3>Host Reviews</h3>

                                  <div *ngIf="thisTripReviews.length === 0" class="reviews-item">
                                    <ul>
                                      <h4><em>No reviews for this host..</em></h4>
                                    </ul>
                                  </div>

                                  <ng-container *ngFor="let advenTraveler of thisTripReviews">


                                  <div *ngIf="advenTraveler.review" class="reviews-item">

                                    <div *ngIf="advenTraveler.rating === 1">
                                      <span id="star1">&#9733;</span><span id="star2">&#9734;</span><span id="star2">&#9734;</span><span id="star2">&#9734;</span><span id="star2">&#9734;</span>

                                    </div>

                                    <div *ngIf="advenTraveler.rating === 2">
                                      <span id="star1">&#9733;</span><span id="star1">&#9733;</span><span id="star2">&#9734;</span><span id="star2">&#9734;</span><span id="star2">&#9734;</span>

                                    </div>

                                    <div *ngIf="advenTraveler.rating === 3">
                                      <span id="star1">&#9733;</span><span id="star1">&#9733;</span><span id="star1">&#9733;</span><span id="star2">&#9734;</span><span id="star2">&#9734;</span>

                                    </div>

                                    <div *ngIf="advenTraveler.rating === 4">
                                      <span id="star1">&#9733;</span><span id="star1">&#9733;</span><span id="star1">&#9733;</span><span id="star1">&#9733;</span><span id="star2">&#9734;</span>
                                    </div>

                                    <div *ngIf="advenTraveler.rating === 5">
                                      <span id="star1">&#9733;</span><span id="star1">&#9733;</span><span id="star1">&#9733;</span><span id="star1">&#9733;</span><span id="star1">&#9733;</span>
                                    </div>

                                    <p>{{advenTraveler.review}}</p>
                                    <div class="client-text">
                                        <h5>by {{advenTraveler.user.firstName}} {{advenTraveler.user.lastName}}</h5>
                                        <!-- <span>March 03, 2019</span> -->
                                    </div>



                                </div>
                                </ng-container>



                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- About Secton End -->

    <!-- Modal -->
<div class="modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Compose A Message To Host</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <textarea class="form-control inbox" type="textarea" name="content" placeholder="Enter Message"
        [(ngModel)]="myReply.content" required="required"></textarea>
      </div>
      <div class="modal-footer">
        <button (click)="compose()" type="submit" name="compose"
        class="btn btn-primary btn-block">Send</button>
      </div>
    </div>
  </div>
</div>




