
    <!-- Google Map Route -->
    <div class="map-responsive">
    <iframe [src]="getRouteUrl() | map"></iframe>
    </div>


    <!-- About Secton Begin -->
    <section class="about-section">
        <div class="intro-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="about-intro">
                            <div class="rating">Rating</div>
                            <div class="intro-text">
                                <h2>{{trip.title}}</h2>
                                <p>Departure Location: {{trip.departureAddress.city}}, {{trip.departureAddress.state}} {{trip.departureAddress.street}}</p>
                                <p>Destination Location: {{trip.destinationAddress.city}}, {{trip.destinationAddress.state}} {{trip.destinationAddress.street}}</p>
                                <p>Description: {{trip.description}}</p>
                                <p>Total Cost: {{trip.totalCost}}</p>
                                <p>Vehicle: {{trip.vehicle.manufactureYear}} {{trip.vehicle.make}} {{trip.vehicle.model}}</p>
                                <div (click)="addTrip(trip.id)" class="closed">Join</div>
                                <div class="open">Save</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 offset-lg-1">
                        <div class="intro-share">
                            <div class="share-btn">
                                <a href="#" class="share">Share</a>
                                <a href="#">Submit a Review</a>
                            </div>
                            <div class="share-icon">
                                <a href="#"><i class="fa fa-map-marker"></i></a>
                                <a href="#"><i class="fa fa-book"></i></a>
                                <a href="#"><i class="fa fa-hand-o-right"></i></a>
                                <a href="#"><i class="fa fa-user-o"></i></a>
                                <a href="#"><i class="fa fa-star-o"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="about-left">
                            <!-- <div class="about-desc">
                                <h3>About the Host</h3><br>
                            <div class="about-desc">
                              <h3>About the Trip Host</h3><br>
                                  <h5>Name: {{trip.host.firstName}} {{trip.host.lastName}}</h5>
                                  <h5>Email: {{trip.host.email}}</h5>
                                  <h5>Bio: {{trip.host.bio}}</h5>
                              </div> -->
                            <div class="client-reviews">

                              <h3>People Traveling on this Trip</h3>
                                <ng-container *ngFor="let advenTravelerr of thisTripTravelers">
                                <div *ngIf="advenTravelerr" class="reviews-item">

                                  <h5>{{advenTravelerr.user.firstName}} {{advenTravelerr.user.lastName}}</h5>
                                </div>
                              </ng-container>

                                <h3>About the Host</h3>

                                <mat-card class="example-card">
                                  <mat-card-header>
                                    <div mat-card-avatar class="example-header-image">
                                      <img src="{{trip.host.profilePic.url}}">
                                    </div>

                                    <mat-card-title>{{trip.host.firstName}} {{trip.host.lastName}}</mat-card-title>
                                  </mat-card-header>
                                  <mat-card-content>

                                      <p>Name: {{trip.host.firstName}}, {{trip.host.lastName}}</p>
                                     <p>Phone: {{trip.host.phone}}</p>
                                     <p>Email: ${{trip.host.email}}</p>
                                      <p>Bio: ${{trip.host.bio}}</p>

                                  </mat-card-content>




                            </mat-card>


                                <div class="client-reviews">
                                  <h3>Host Reviews</h3>
                                  <ng-container *ngFor="let advenTraveler of thisTripTravelers">
                                  <div *ngIf="advenTraveler.review" class="reviews-item">
                                    <p>Rating: {{advenTraveler.rating}}</p>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <p>{{advenTraveler.review}}</p>
                                    <div class="client-text">
                                        <h5>{{advenTraveler.user.firstName}}, {{advenTraveler.user.lastName}}</h5>
                                        <!-- <span>March 03, 2019</span> -->
                                    </div>
                                </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- About Secton End -->

