
    <!-- Google Map Route -->

    <div class="map-responsive">
    <iframe [src]="getRouteUrl() | map"></iframe>
    </div>


    <!-- About Secton Begin -->
    <section class="about-section">
        <div class="intro-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="about-intro">
                            <div class="rating"></div>
                            <div class="intro-text">
                                <h2>{{trip.title}}</h2>

                                <p><strong>Departure Location:</strong> {{trip.departureAddress.city}}, {{trip.departureAddress.state}} {{trip.departureAddress.street}}</p>
                                <p><strong>Destination Location:</strong> {{trip.destinationAddress.city}}, {{trip.destinationAddress.state}} {{trip.destinationAddress.street}}</p>
                                <p><strong>Description:</strong> {{trip.description}}</p>
                                <p><strong>Total Cost:</strong> ${{trip.totalCost}}</p>
                                <p><strong>Vehicle:</strong> {{trip.vehicle.manufactureYear}} {{trip.vehicle.make}} {{trip.vehicle.model}}</p>
                                <div *ngIf="joined" class="closed">{{joined.travelerStatus}}</div>
                                <div *ngIf="!joined" (click)="addTrip(trip.id); alert()" class="closed">Join</div>
                                <!-- <div *ngIf="joined.travelerStatus === null" class="closed">Your Trip</div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 offset-lg-1">
                        <div class="intro-share">
                            <div class="share-btn">
                              <p> <img src="{{trip.featureImage}}" class="featureImage"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="about-left">
                            <!-- <div class="about-desc">
                                <h3>About the Host</h3><br>
                            <div class="about-desc">
                              <h3>About the Trip Host</h3><br>
                                  <h5>Name: {{trip.host.firstName}} {{trip.host.lastName}}</h5>
                                  <h5>Email: {{trip.host.email}}</h5>
                                  <h5>Bio: {{trip.host.bio}}</h5>
                              </div> -->
                            <div class="client-reviews">

                              <h3>People Traveling on this Trip</h3>
                                <ng-container *ngFor="let advenTravelerr of thisTripTravelers">
                                <div *ngIf="advenTravelerr" class="reviews-item">
                                  <ul>
                                    <li>  <img src="{{advenTravelerr.user.profilePic.url}}" class="photo"> {{advenTravelerr.user.firstName}} {{advenTravelerr.user.lastName}} </li>
                                  </ul>
                                  <!-- <h5>{{advenTravelerr.user.firstName}} {{advenTravelerr.user.lastName}}</h5> -->
                                </div>

                              </ng-container>

                              <div *ngIf="thisTripTravelers.length === 0" class="reviews-item">
                                <ul>
                                  <h4><em>Be the first to sign up for this trip!</em></h4>
                                </ul>
                                <!-- <h5>{{advenTravelerr.user.firstName}} {{advenTravelerr.user.lastName}}</h5> -->
                              </div>

                                <h3>About the Host</h3>

                                <mat-card class="example-card">
                                  <mat-card-header>
                                    <div mat-card-avatar class="example-header-image">
                                      <img src="{{trip.host.profilePic.url}}" class="photo2">
                                    </div>

                                    <mat-card-title>{{trip.host.firstName}} {{trip.host.lastName}}</mat-card-title>
                                  </mat-card-header>
                                  <mat-card-content>

                                      <p>Name: {{trip.host.firstName}}, {{trip.host.lastName}}</p>
                                     <p>Phone: {{trip.host.phone}}</p>
                                     <p>Email: {{trip.host.email}}</p>
                                      <p>Bio: {{trip.host.bio}}</p>

                                  </mat-card-content>




                            </mat-card>

                            <br><br>
                                <div class="client-reviews">

                                  <h3>Host Reviews</h3>

                                  <ng-container *ngFor="let advenTraveler of thisTripTravelers">


                                  <div *ngIf="advenTraveler.review" class="reviews-item">

                                    <div *ngIf="advenTraveler.rating === 1">
                                      <span id="star1">&#9733;</span><span id="star2">&#9734;</span><span id="star2">&#9734;</span><span id="star2">&#9734;</span><span id="star2">&#9734;</span>

                                    </div>

                                    <div *ngIf="advenTraveler.rating === 2">
                                      <span id="star1">&#9733;</span><span id="star1">&#9733;</span><span id="star2">&#9734;</span><span id="star2">&#9734;</span><span id="star2">&#9734;</span>

                                    </div>

                                    <div *ngIf="advenTraveler.rating === 3">
                                      <span id="star1">&#9733;</span><span id="star1">&#9733;</span><span id="star1">&#9733;</span><span id="star2">&#9734;</span><span id="star2">&#9734;</span>

                                    </div>

                                    <div *ngIf="advenTraveler.rating === 4">
                                      <span id="star1">&#9733;</span><span id="star1">&#9733;</span><span id="star1">&#9733;</span><span id="star1">&#9733;</span><span id="star2">&#9734;</span>
                                    </div>

                                    <div *ngIf="advenTraveler.rating === 5">
                                      <span id="star1">&#9733;</span><span id="star1">&#9733;</span><span id="star1">&#9733;</span><span id="star1">&#9733;</span><span id="star1">&#9733;</span>
                                    </div>

                                    <p>{{advenTraveler.review}}</p>
                                    <div class="client-text">
                                        <h5>{{advenTraveler.user.firstName}}, {{advenTraveler.user.lastName}}</h5>
                                        <!-- <span>March 03, 2019</span> -->
                                    </div>



                                </div>
                                </ng-container>



                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- About Secton End -->

