<h1>TRIP COMPONENT!</h1>
<div id="createNewTrip" *ngIf=" ! editTrip">
    <form #createNewTripForm="ngForm">

        <hr>
        <label for="departureAddressStreet">Departure Address Street: </label>
        <input type="text" name="departureAddressStreet" ngModel placeholder="Departure address street"/><br>

        <label for="departureAddressCity">Departure Address City: </label>
        <input type="text" name="departureAddressCity" ngModel placeholder="Departure address city"/><br>

        <label for="departureAddressState">Departure Address State: </label>
        <input type="text" name="departureAddressState" ngModel placeholder="Departure address state"/><br>

        <label for="departureAddressZip">Departure Address Zip: </label>
        <input type="text" name="departureAddressZip" ngModel placeholder="Departure address zip"/><br>

        <hr>

        <label for="destinationAddressStreet">Destination Address Street: </label>
        <input type="text" name="destinationAddressStreet" ngModel placeholder="Destination address street"/><br>

        <label for="destinationAddressCity">Destination Address City: </label>
        <input type="text" name="destinationAddressCity" ngModel placeholder="Destination address city"/><br>

        <label for="destinationAddressState">Destination Address State: </label>
        <input type="text" name="destinationAddressState" ngModel placeholder="Destination address state"/><br>

        <label for="destinationAddressZip">Destination Address Zip: </label>
        <input type="text" name="destinationAddressZip" ngModel placeholder="Destination address zip"/><br>

        <hr>

        <label for="description">Description: </label>
        <input type="text" name="description" ngModel placeholder="Description"/><br>

        <label for="seatsAvailable">Seats Available</label>
        <input type="number" name="seatsAvailable" ngModel placeholder="Seats available"/><br>

        <label for="cargoCapacity">Cargo Capacity</label>
        <input type="number" name="cargoCapacity" ngModel placeholder="Cargo capacity"/><br>

        <label for="totalCost">Total Cost</label>
        <input type="number" name="totalCost" ngModel placeholder="Total cost"/><br>

        <label for="miles">Miles</label>
        <input type="number" name="miles" ngModel placeholder="Miles"/><br>

        <!-- <div>
          <select name="vehicle">
              <option (click)="tripVehicle = vehicle" *ngFor="let vehicle of vehicles" value="{{vehicle}}">{{vehicle.manufactureYear}} {{vehicle.model}}</option>
          </select>
        </div> -->

        <div *ngFor="let vehicle of vehicles">
            <button (click)="tripVehicle = vehicle" class="btn btn-primary"> {{vehicle.manufactureYear}} {{vehicle.model}} </button>
          </div>



        <input type="submit" name="submit" value="Add" (click)="addTrip(createNewTripForm)">

      </form>
</div>

<div *ngIf=" ! editTrip">

   <p *ngFor="let trip of trips" (click)="editTrip = trip"><em>Trip #{{trip.id}}</em> -- Departure Address: {{trip.departureAddress.city}}, {{trip.departureAddress.state}} -- Destination Address: {{trip.destinationAddress.city}}, {{trip.destinationAddress.state}} -- Miles: {{trip.miles}} -- Seats Available: {{trip.seatsAvailable}} </p>

</div>

<div id="updateTripForm" *ngIf="editTrip">
  <p>Update Trip #{{editTrip.id}}</p>
  <form>
    <hr>
    <label for="updateDepartureAddressStreet">Departure Address Street: </label>
    <input type="text" name="updateDepartureAddressStreet" [(ngModel)]="editTrip.departureAddress.street"/><br>

    <label for="updateDepartureAddressCity">Departure Address City: </label>
    <input type="text" name="updateDepartureAddressCity" [(ngModel)]="editTrip.departureAddress.city"/><br>

    <label for="updateDepartureAddressState">Departure Address State: </label>
    <input type="text" name="departureAddressState" [(ngModel)]="editTrip.departureAddress.state"/><br>

    <label for="updateDepartureAddressZip">Departure Address Zip: </label>
    <input type="text" name="updateDepartureAddressZip" [(ngModel)]="editTrip.departureAddress.zip"/><br>

    <hr>

    <label for="updateDestinationAddressStreet">Destination Address Street: </label>
    <input type="text" name="updateDestinationAddressStreet" [(ngModel)]="editTrip.destinationAddress.street"/><br>

    <label for="updateDestinationAddressCity">Destination Address City: </label>
    <input type="text" name="updateDestinationAddressCity" [(ngModel)]="editTrip.destinationAddress.city"/><br>

    <label for="updateDestinationAddressState">Destination Address State: </label>
    <input type="text" name="updateDestinationAddressState" [(ngModel)]="editTrip.destinationAddress.state"/><br>

    <label for="updateDestinationAddressZip">Destination Address Zip: </label>
    <input type="text" name="updateDestinationAddressZip" [(ngModel)]="editTrip.destinationAddress.zip"/><br>

    <hr>

    <label for="updateDescription">Description: </label>
    <input type="text" name="updateDescription" [(ngModel)]="editTrip.description"/><br>

    <label for="updateSeatsAvailable">Seats Available: </label>
    <input type="number" name="updateSeatsAvailable" [(ngModel)]="editTrip.seatsAvailable"/><br>

    <label for="updateCargoCapacity">Cargo Capacity: </label>
    <input type="number" name="updateCargoCapacity" [(ngModel)]="editTrip.cargoCapacity"/><br>

    <label for="updateTotalCost">Total Cost: </label>
    <input type="number" name="updateTotalCost" [(ngModel)]="editTrip.totalCost"/><br>

    <label for="updateMiles">Miles: </label>
    <input type="number" name="updateMiles" [(ngModel)]="editTrip.miles"/><br>

    <div>
        <select name="vehiclelist">
            <option *ngFor="let vehicle of vehicles" value="{{vehicle.id}}">{{vehicle.manufactureYear}} {{vehicle.model}}</option>
        </select>
    </div>

    <input type="submit" name="submit" value="Update" (click)="updateTrip(editTrip)">
  </form>
  <button (click) = "deleteTrip(editTrip.id)" class="btn btn-primary"> Delete Trip </button>
  <button (click) = "editTrip = null" class="btn btn-primary"> Back </button>

</div>
