<nav id="topnav" class="navbar navbar-expand-lg navbar-light bg-light">
  <p class="navbar-brand" style="font-size: 35px !important; color: black">Caravan</p>
  <button
    class="navbar-toggler"
    type="button"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="isCollapsed = !isCollapsed"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup" [ngbCollapse]="isCollapsed">
    <div class="navbar-nav">
      <!-- <a class="nav-item nav-link" [routerLink]="['/about']">About</a> -->
      <a class="nav-item nav-link" [routerLink]="['/search-results']" style="font-size: 18px !important; color: black"> Explore </a><br>
      <!-- <a class="nav-item nav-link" [routerLink]="['/contact']">Contact</a> -->
      <div *ngIf="!checkIfLoggedIn()">
        <div class="navbar-nav">
          <a class="nav-item nav-link" [routerLink]="['/register']" style="font-size: 18px !important; color: black">&mdash; &nbsp; Register </a>
          <a class="nav-item nav-link" [routerLink]="['/login']" style="font-size: 18px !important; color: black">&mdash; &nbsp; Login </a>
          <a class="nav-item nav-link" [routerLink]="['/adventures']" style="font-size: 18px !important; color: black">&mdash; &nbsp; Adventures </a>

        </div>
      </div>
      <div *ngIf="checkIfLoggedIn()">
        <div class="navbar-nav">
          <a class="nav-item nav-link" [routerLink]="['/user-profiles']" style="font-size: 18px !important; color: black">&mdash; &nbsp; Profile </a>
          <a class="nav-item nav-link" [routerLink]="['/trips']" style="font-size: 18px !important; color: black">&mdash; &nbsp; My Trips </a>
          <a class="nav-item nav-link" [routerLink]="['/adventures']" style="font-size: 18px !important; color: black">&mdash; &nbsp; My Adventures </a>

          <a class="nav-item nav-link" [routerLink]="['/inbox']" style="font-size: 18px !important; color: black">&mdash; &nbsp; Inbox </a>
          <app-logout></app-logout>
        </div>
      </div>
    </div>
  </div>


</nav>
