<nav id="topnav" class="navbar navbar-expand-lg navbar-light bg-light">
  <p
    class="navbar-brand"
    style="font-size: 35px !important; font-family: 'Nunito', sans-serif !important; color: black"
  >
    Caravan
  </p>
  <button
    class="navbar-toggler"
    type="button"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="isCollapsed = !isCollapsed"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse"
    id="navbarNavAltMarkup"
    [ngbCollapse]="isCollapsed"
  >
    <div class="navbar-nav">
      <a
        class="nav-item nav-link"
        href="search-results"
        style="font-size: 18px !important; color: black"
      >
        Explore </a
      ><br />
      <div *ngIf="!checkIfLoggedIn()">
        <div class="navbar-nav">
          <a
            class="nav-item nav-link"
            [routerLink]="['/register']"
            style="font-size: 18px !important; color: black"
            >&nbsp; &nbsp; &nbsp; &nbsp; Register
          </a>
          <a
            class="nav-item nav-link"
            [routerLink]="['/login']"
            style="font-size: 18px !important; color: black"
            >&nbsp; &nbsp; &nbsp; &nbsp; Login
          </a>
        </div>
      </div>
      <div *ngIf="checkIfLoggedIn()">
        <div class="navbar-nav">

          <a
            class="nav-item nav-link"
            [routerLink]="['/user-profiles']"
            style="font-size: 18px !important; color: black"
            >&nbsp; &nbsp; &nbsp; &nbsp; My Profile
          </a>
          <a
            class="nav-item nav-link"
            [routerLink]="['/inbox']"
            style="font-size: 18px !important; color: black"
            >&nbsp; &nbsp; &nbsp; &nbsp; Inbox
          </a>
          <app-logout></app-logout>
          <p class="welcome">Welcome, {{ userProf.firstName }}!</p>
        </div>
      </div>
    </div>
  </div>
</nav>
