<div id="bottom-bar" allowfullscreen="" >
  <!-- <div class="text-center">
    <a href="/home" style="color:black"><i class="material-icons">
    home
    </i><br>Home></a>
  </div> -->

  <div class="text-center">
    <a href="/search-results" style="color:black"><i class="material-icons">
    search
    </i><br>Explore</a>
  </div>

  <div class="text-center">
    <a href="/user-profiles" style="color:black"><i class="material-icons">
    face
    </i><br>Profile</a>
  </div>

  <div class="text-center">
    <a href="/messages" style="color:black"><i class="material-icons">
    chat_bubble_outline
    </i><br>Messages</a>
  </div>

  <div class="text-center">
    <a href="/trips" style="color:black"><i class="material-icons">
    work
    </i><br>Trips</a>
  </div>

  <div class="text-center">
    <a href="/adventures" style="color:black"><i class="material-icons">
    emoji_flags
    </i><br>Adventures</a>
  </div>

  <!-- https://material.io/resources/icons/?style=baseline *** material icons to use here-->
</div>
