<div id="bottom-bar" allowfullscreen="" >

  <div class="text-center">
    <a href="/search-results" style="color:black"><i class="material-icons">
    search
    </i><br>Explore</a>
  </div>
<!--
  <div class="text-center">
    <a href="/adventures" style="color:black"><i class="material-icons">
    emoji_flags
    </i><br>Adventures</a>
  </div> -->

  <div *ngIf="checkIfLoggedIn()" class="text-center">
    <a href="/user-profiles" style="color:black"><i class="material-icons">
    face
    </i><br>Profile</a>
  </div>

  <div *ngIf="checkIfLoggedIn()" class="text-center">
    <a href="/inbox" style="color:black"><i class="material-icons">
      chat_bubble_outline
    </i><br>Inbox</a>
  </div>

  <div *ngIf="checkIfLoggedIn()" class="text-center">
    <a href="/trips" style="color:black"><i class="material-icons">
    work
    </i><br>My Trips</a>
  </div>

  <div *ngIf="! checkIfLoggedIn()" class="text-center">
    <a href="/register" style="color:black"><i class="material-icons">
    menu_book
    </i><br>Register</a>
  </div>

  <div *ngIf="! checkIfLoggedIn()" class="text-center">
    <a href="/login" style="color:black"><i class="material-icons">
    vpn_key
    </i><br>Login</a>
  </div>

  <!-- https://material.io/resources/icons/?style=baseline *** material icons to use -->
</div>
