<div id="registerbg">
  <div class="container">
    <div class="row mx-sm-n5">
      <div class="col-sm-4 px-sm"></div>

      <div class="col-sm-4 px-sm">
        <p></p>
      </div>

      <div class="col-sm-4 px-sm"></div>
    </div>
  </div>
  <br />

  <div class="container" style="text-align: center;">
    <div>
      <div class="row mx-sm-n5">
        <div class="col-sm">
          <h1>
            Register
          </h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="text-align: center;">
    <div style="display: inline-block;">
      <form>
        <div class="row mx-sm-n5">
          <div class="col-lg">
            <label for="firstName">First Name</label>
            <br />
            <input
              type="text"
              name="firstName"
              placeholder="First Name"
              style="font-size: 150%; margin: 5px 0; width: 275px; height: 45px;  border: 1px solid black; padding: 10px 10px; border-radius: 5px"
              [(ngModel)]="newUserProfile.firstName"
            />
            <br />
          </div>
        </div>
        <br />

        <div class="row mx-sm-n5">
          <div class="col-sm">
            <label for="lastName">Last Name</label>
            <br />
            <input
              type="text"
              name="lastName"
              placeholder="Last Name"
              style="font-size: 150%; margin: 5px 0; width: 275px; height: 45px;  border: 1px solid black; padding: 10px 10px; border-radius: 5px"
              [(ngModel)]="newUserProfile.lastName"
            />
            <br />
          </div>
        </div>
        <br />

        <div class="row mx-sm-n5">
          <div class="col-sm">
            <label for="email">Email</label>
            <br />
            <input
              type="email"
              name="email"
              placeholder="Email"
              style="font-size: 150%; margin: 5px 0; width: 275px; height: 45px;  border: 1px solid black; padding: 10px 10px; border-radius: 5px"
              [(ngModel)]="newUserProfile.email"
            />
            <br />
          </div>
        </div>
        <br />

        <div class="row mx-sm-n5">
          <div class="col-sm">
            <label for="phone">Phone Number</label>
            <br />
            <input
              type="number"
              name="phone"
              placeholder="Phone Number"
              style="font-size: 150%; margin: 5px 0; width: 275px; height: 45px;  border: 1px solid black; padding: 10px 10px; border-radius: 5px"
              [(ngModel)]="newUserProfile.phone"
            />
            <br />
          </div>
        </div>
        <br />

        <div class="row mx-sm-n5">
          <div class="col-sm">
            <label for="username">Username</label>
            <br />
            <input
              type="text"
              name="username"
              placeholder="Username"
              style="font-size: 150%; margin: 5px 0; width: 275px; height: 45px;  border: 1px solid black; padding: 10px 10px; border-radius: 5px"
              [(ngModel)]="newUser.username"
            />

            <br />
          </div>
        </div>
        <br />

        <div class="row mx-sm-n5">
          <div class="col-sm">
            <label for="password">Password</label>
            <br />
            <input
              type="password"
              name="password"
              placeholder="Password"
              style="font-size: 150%; margin: 5px 0; width: 275px; height: 45px;  border: 1px solid black; padding: 10px 10px; border-radius: 5px"
              [(ngModel)]="newUser.password"
            />

            <br />
          </div>
        </div>
        <br />

        <div class="row mx-sm-n5">
          <div class="col-lg">
            <button
              type="button"
              (click)="create(newUser)"
              class="btn btn-warning btn-md"
              id="btn2"
            >
              Register
            </button>
          </div>
        </div>
        <br />
      </form>
      <br />
      <div class="container">
        <div class="row mx-sm-n5">
          <div class="col-sm-4 px-sm"></div>

          <div class="col-sm-4 px-sm">
            <p></p>
          </div>

          <div class="col-sm-4 px-sm"></div>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
