<div class="container">
  <div class="row">
    <div class="col order-last"></div>
    <div class="col-xl-9">
      <form>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="firstName">First Name:</label>
            <br />
            <input
              type="text"
              name="firstName"
              class="form-control-md"
              placeholder="First Name"
              [(ngModel)]="newUserProfile.firstName"
            />
          </div>
          <div class="col-md-4 mb-3">
            <label for="lastName">Last Name:</label>
            <br />
            <input
              type="text"
              name="lastName"
              class="form-control-md"
              placeholder="Last Name"
              [(ngModel)]="newUserProfile.lastName"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="email">Email:</label>
            <br />
            <input
              type="email"
              name="email"
              class="form-control-md"
              placeholder="Email"
              [(ngModel)]="newUserProfile.email"
            />
          </div>
          <div class="col-md-4 mb-3">
            <label for="phone">Phone Number:</label>
            <br />
            <input
              type="number"
              name="phone"
              class="form-control-md"
              placeholder="Phone Number"
              [(ngModel)]="newUserProfile.phone"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="username">Username</label>
            <br />
            <input
              type="text"
              name="username"
              class="form-control-md"
              placeholder="Username"
              [(ngModel)]="newUser.username"
            />
          </div>
          <div class="col-md-4 mb-3">
            <label for="password">Password</label>
            <br />
            <input
              type="password"
              name="password"
              class="form-control-md"
              placeholder="Password"
              [(ngModel)]="newUser.password"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-4 mb-3">
            <button
              type="button"
              (click)="create(newUser)"
              class="btn btn-warning btn-md"
            >
              Register
            </button>
          </div>

          <div class="col-md-4 mb-3">
            <button
              type="button"
              class="btn btn-secondary btn-md "
              [routerLink]="['/home']"
            >
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col order-first"></div>
  </div>
</div>
