<div id="bg">
<div class="container">
<div class="row mx-sm-n5">
  <div class="col-sm-4 px-sm">
  </div>

  <div class="col-sm-4 px-sm">
  <p></p>
  </div>

  <div class="col-sm-4 px-sm">
  </div>
</div>
</div>
<br>
<div class="container">
  <div class="row mx-sm-n5">
    <div class="col-sm-4 px-sm">
    </div>

    <div class="col-sm-4 px-sm">
    <p></p>
    </div>

    <div class="col-sm-4 px-sm">
    </div>
  </div>
</div>
<br>
<br>
<div class="container">
<div class="row mx-sm-n5">
  <div class="col-sm-4 px-sm">
  </div>

  <div class="col-sm-4 px-sm">
  <p></p>
  </div>

  <div class="col-sm-4 px-sm">
  </div>
</div>
</div>
<br>

<div class="container" style="text-align: center;">
  <div
  >
    <div class="row mx-sm-n5">
      <div class="col-sm">
        <h1>
          Login
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="container inputdiv" style="text-align: center;">
<div style="display: inline-block;">
  <form #userForm="ngForm">
    <label for="username" class="sm-2 mr-sm-2"></label>
    <input
      type="text"
      placeholder="Enter Username"
      name="username"
      style="font-size: 150%; margin: 5px 0; width: 275px; height: 60px;  border: 1px solid black; padding: 10px 10px; border-radius: 5px"
      ngModel
    />
    <label for="password" class="sm-2 mr-sm-2"></label>
    <input
      type="password"
      placeholder="Enter Password"
      name="password"
      style="font-size: 150%; margin: 5px 0; width: 275px; height: 60px; border: 1px solid black; padding: 10px 10px; border-radius: 5px"
      ngModel
    />
    <div class="form-check mb-2 mr-sm-2"></div>
    <button id="btn1" type="submit" (click)="login(userForm)">Submit</button>
  </form>
</div>
</div>
</div>
