<footer class="footer-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <form action="#" class="newslatter-form">
          <input type="text" placeholder="Your email address">
          <button type="submit">Subscribe to our Newsletter</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget">
          <h4>Caravan</h4>
          <ul>
            <li>Explore</li>
            <li *ngIf="checkIfLoggedIn()">Profile</li>
            <li *ngIf="checkIfLoggedIn()">Inbox</li>
            <li *ngIf="checkIfLoggedIn()">My Trips</li>
            <li *ngIf="!checkIfLoggedIn()">Login</li>
            <li *ngIf="!checkIfLoggedIn()">Register</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget">
          <h4>Contact Team</h4>
          <ul>
            <li><a href = "mailto: cmoreno@cesarmoreno.dev">Cesar Moreno</a></li>
            <li><a href = "mailto: mcgowanjs@gmail.com">Jared McGowan</a></li>
            <li><a href = "mailto: jesse.trew@gmail.com">Jesse Trew</a></li>
            <li><a href = "mailto: castillo752x@gmail.com">Noel Castillo</a></li>
            <li><a href = "mailto: rick@richardnewman.dev">Rick Newman</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget">
          <h4>Github Links</h4>
          <ul>
            <li><a href = "https://github.com/CMoreno04" target="_blank">Cesar Moreno</a></li>
            <li><a href = "https://github.com/jaredm3" target="_blank">Jared McGowan</a></li>
            <li><a href = "https://github.com/JesseTrew" target="_blank">Jesse Trew</a></li>
            <li><a href = "https://github.com/noel-castillo" target="_blank">Noel Castillo</a></li>
            <li><a href = "https://github.com/richardanewman" target="_blank">Rick Newman</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
      </div>
    </div>
    <div class="row footer-bottom">
        <div class="copyright">
            Copyright Caravan 2020
        </div>

    </div>
  </div>
</footer>

