<footer class="footer-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <form action="#" class="newslatter-form">
          <input type="text" placeholder="Your email address">
          <button type="submit">Subscribe to our Newsletter</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget">
          <h4>Usefull Links</h4>
          <ul>
            <li>About us</li>
            <li>Testimonials</li>
            <li>How it works</li>
            <li>Create an account</li>
            <li>Our Services</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget">
          <h4>Categories</h4>
          <ul>
            <li>Hotels</li>
            <li>Restaurant</li>
            <li>Spa & resorts</li>
            <li>Concert & Events</li>
            <li>Bars & Pubs</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget">
          <h4>Usefull Links</h4>
          <ul>
            <li>About us</li>
            <li>Testimonials</li>
            <li>How it works</li>
            <li>Create an account</li>
            <li>Our Services</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget">
          <h4>From the Blog</h4>
          <div class="single-blog">
            <div class="blog-pic">
              <img src="" alt="">
            </div>
            <div class="blog-text">
              <h6>10 Best clubs in town</h6>
              <span>March 27, 2019</span>
            </div>
          </div>
          <div class="single-blog">
            <div class="blog-pic">
              <img src="" alt="">
            </div>
            <div class="blog-text">
              <h6>10 Best clubs in town</h6>
              <span>March 27, 2019</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row footer-bottom">


          <div class="copyright">
            Caravan © 2020
          </div>
        </div>
      </div>


</footer>


